<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Files to IPFS</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333;
      margin: 0;
      padding: 0;
    }
    
    video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    
    form {
      margin: 20px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
    
    h1 {
      font-size: 36px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    
    label {
      font-size: 18px;
    }
    
    input[type=text], input[type=file] {
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 100%;
    }
    
    input[type=submit] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #0062cc;
    }
  </style>
</head>
<body>
  <video autoplay muted loop="myVideo">
    <source src="background.mp4" type="video/mp4">
  </video>
  <h1>Upload Files to IPFS</h1>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label>Filename</label>
    <input type="text" name="fileName" required>
    <label>Upload Files</label>
    <input type="file" name="file" required>
    <input type="submit" value="Submit">
  </form>
  
</body>
</html>