* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Nunito', sans-serif;
}

#mainNavbar
{
  background-color: rgb(222,192,222);
  font-size: 1.6rem;
  font-weight: 100;
}

.navbar-brand
{
  color: #EA1C2C;
  font-size: 1.6rem;
  font-weight: 100;
}

.nav-link
{
  color: white;
  margin-left: 3px;
  margin-right: 3px;
}

#mainNavbar .nav-link:hover 
{
    color: #EA1C2C;
}

#notnav 
{
  background-color: #6dd8d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

nav
{ 
  height: 5vh;
}

h1 
{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
  
form 
{
  max-width: 450px;
  background-color: #2cc5c4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label 
{
  display: block;
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: white;
}

input[type="text"], input[type="email"], input[type="password"] 
{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

input[type="submit"] 
{
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
  width: 100%;
}
  
input[type="submit"]:hover 
{
  background-color: #555;
}

p 
{
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
  color: white
}