* 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Nunito', sans-serif;
}

#mainNavbar
{
  background-color: #696969;
  font-size: 1.6rem;
  font-weight: 100;
}

.navbar-brand
{
  color: whitesmoke;
  font-size: 1.6rem;
  font-weight: 100;
}

.nav-link
{
  color: white;
  margin-left: 3px;
  margin-right: 3px;
}

#mainNavbar .nav-link:hover 
{
    color: black;
}

#notnav, .home
{
  background-color: #DCDCDC;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;
}

video
{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
  
nav
{ 
  height: 5vh;
}


#overlay
{
  background-color: rgba(0,0,0,0.8);
  width:75%;
  z-index: 2;
  border: 0px;
  border-radius: 20px;
  overflow: scroll;
}

h1 
{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  z-index: 3;
  color: white;
  padding-top: 20px;
}

a 
{
  color: #6CB4EE;
  text-decoration: none;
  font-weight: bold;
  z-index: 3;
}

table
{
  border-collapse: collapse;
  margin: 3rem auto;
  width: 80%;
  z-index: 3;
}

th, td 
{
  padding: 1rem;
  text-align: left;
  border: 1px solid #eee;
  color: white;
  z-index: 3;
  font-size: 1.2rem;
}

th
{
  background-color: #808080;
  color: #fff;
  z-index: 3;
  font-size: 1.2rem;
}

td a
{
  text-decoration: underline;
}

#logoutbt
{
  background-color: rgba(255,255,255,0);
  border: 0px;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
}

#logoutbt:hover
{
  color: black;
}

#logoutbtform
{
  display: flex;
  align-items: center;
}